@CHARSET "UTF-8";
body{margin:0;padding:0;   font-family: 微软雅黑;}
ul,li {list-style-type:none; text-transform:capitalize;margin:0;padding:0;}
a{text-decoration:none;}
.clear{height:0; clear:both; }

/*三级左侧菜单*/
.content_left{float:left; width:200px;}
.content_right{float:left; }
.content_left_head {padding:5px; text-align:center; background-color:#3b84c9; width:167px; margin:0 auto;margin-top:10px; border:1px solid #3b84c9;}
.content_left_head label{font-weight:bold; color:#ffffff; font-size:16px; letter-spacing:0.3em;}
.content_left_bottom{width:167px; height:19px; background:url(../img/left_bottom.png); margin:0 auto;}
.content_left_menus{border:1px solid #3b84c9; width:167px; margin:0 auto; background-color:#ffffff; }
.content_left_menus ul li { text-align:center; list-style:square inside url(../img/icon/icon01.png);border-bottom:1px solid #b7b7b8; margin:0 5px;}
.content_left_menus ul li a{ padding:5px 0;  margin:0 auto; display:inline-block; color:#353535; text-decoration:none;}
.content_left_menus ul li a.active{background-color:#3b84c9;color:#ffffff;}

/*内容部分统一样式*/
.c_wrap{margin:10px; padding-right:20px;border-bottom:1px solid #b7b7b8;}
.c_wrap .c_wrap_title{margin-top:5px;  }
.c_wrap .c_wrap_title h4{ color:#3b84c9; margin:0; font-size:16px;}
.c_wrap .c_wrap_content{margin-top:10px;}
