@CHARSET "UTF-8";
.index_container .header{height:85px; background: url(../img/head_bg.jpg) no-repeat; }
#index_banner{height:30px;background: url(../img/head_statetool.png);}

/*menu*/
#nav { display:block; float: right; margin-top:3px; margin-right:20px;}
#nav .mainlevel { float:left;  width:70px;/*IE6 only*/text-align: center; font-weight: bold; }
#nav .mainlevel a {color:#ffffff; text-decoration:none; line-height:32px; display:block; padding:0 20px; width:100px;}
#nav .mainlevel a:hover {color:#fff; text-decoration:none;}
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li {border-top:1px solid #fff; background:#265cb6; width:100px;/*IE6 only*/}


/*index-tab*/
#index_banner .nav {border:0;}
#index_banner .nav > li > a{padding-bottom:0; padding-top:0; margin-top:4px; font-weight: bold;}
#index_banner .nav > li > a{background: #9ac3b2; border-color: #9ac3b2; color:#ffffff;}
#index_banner .nav > li.active > a{background: #98ffd5;border-color: #98ffd5; color:#6b6b6b;}
.tab-pane{height:100%;}